body {
  background-color: #69cf97;
  color: white;
  padding: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.background-mint {
  background-color: #69cf97;
}

.background-gray {
  background-color: black;
}