body {
  background-color: #69cf97;
  color: white;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.button {
  background-color: #000000;
  color: white;
  font-family: 'Arial', sans-serif;
}
